:root {
  --title-color: #d5281a;
  --nav-item-color: #802010;
  --header-background-color: #160403;
  --background-color: #080201;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
