:root {
  --title-color: #8ce0ff;
  --nav-item-color: #598fa3;
  --header-background-color: #0b1933;
  --background-color: #071022;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
