:root {
  --title-color: #c33232;
  --nav-item-color: #cc0000;
  --header-background-color: #140202;
  --background-color: #0c0000;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
