:root {
  --title-color: #2fbf63;
  --nav-item-color: #1a8a4a;
  --header-background-color: #07170f;
  --background-color: #030b07;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
