:root {
  --title-color: #9b59b6;
  --nav-item-color: #6c3483;
  --header-background-color: #140a1c;
  --background-color: #08040b;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
