:root {
  --title-color: #f9ebb3;
  --nav-item-color: #96896b;
  --header-background-color: #14120b;
  --background-color: #080704;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
