---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout
  title="Leagues Relic Pickers"
  description="All Previous and Current OSRS/RS3 Leagues Relic Pickers"
  ogImage="https://relics.runetools.lol/poster.png"
  ogImageAlt="The Leagues Relic Picker Homepage. You can navigate to past and current Leagues Relic Pickers for OSRS and RS3 from here."
  ogUrl="https://relics.runetools.lol"
  bodyClass="has-footer"
>
  <main id="main">
    <h1 class="title">Leagues Relic Pickers</h1>
    <div class="showcase-link-container">
      <a class="showcase-nav-link" href="/showcase/">
        Combine Multiple Builds
      </a>
    </div>
    <div class="colContainer">
      <div class="col">
        <div class="subTitle">OSRS Relic Pickers</div>
        <div class="navItems">
          <a class="navItem" href="/osrs/1/">
            <img src="/osrs/1/logo.png" alt="OSRS Twisted League Relics Link" />
          </a>
          <a class="navItem" href="/osrs/2/">
            <img
              src="/osrs/2/logo.png"
              alt="OSRS Trailblazer League Relics Link"
            />
          </a>
          <a class="navItem" href="/osrs/4/">
            <img
              src="/osrs/4/logo.png"
              alt="OSRS Trailblazer Reloaded League Relics Link"
            />
          </a>
          <a class="navItem" href="/osrs/5/">
            <img
              src="/osrs/5/logo.png"
              alt="OSRS Raging Echoes League Relics Link"
            />
            <span class="navItemSubTitle">Relics</span>
          </a>
          <a class="navItem" href="/osrs/5/masteries/">
            <img
              src="/osrs/5/logo.png"
              alt="OSRS Raging Echoes League Masteries Link"
            />
            <span class="navItemSubTitle">Masteries</span>
          </a>
          <a class="navItem" href="/osrs/6/">
            <img
              src="/osrs/6/logo.png"
              alt="OSRS Demonic Pacts League Relics Link"
            />
            <span class="navItemSubTitle">Relics</span>
          </a>
          <a class="navItem" href="/osrs/6/pacts/">
            <img
              src="/osrs/6/logo.png"
              alt="OSRS Demonic Pacts League Pacts Link"
            />
            <span class="navItemSubTitle">Pacts</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="subTitle">RS3 Relic Pickers</div>
        <div class="navItems">
          <a class="navItem" href="/rs3/1/">
            <img src="/rs3/1/logo.png" alt="RS3 Catalyst League Relics Link" />
          </a>
          <a class="navItem" href="/rs3/2/">
            <img src="/rs3/2/logo.png" alt="RS3 League 2 Relics Link" />
          </a>
        </div>
      </div>
    </div>
  </main>

  <Footer showThemeSelector={true} />
</BaseLayout>
