:root {
  --title-color: #a3ce27;
  --nav-item-color: #6a8418;
  --header-background-color: #0f1406;
  --background-color: #060804;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
