:root {
  --title-color: #cd7429;
  --nav-item-color: #7a451a;
  --header-background-color: #160b05;
  --background-color: #090402;
  --font-size-title: 5em;
  --font-size-subtitle: 3em;
  --font-size-nav-item: 2em;
}
